body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    background: linear-gradient(90deg, #FFFF00, #00FF00);
    font-size: 36px;
    font-weight: bold;
    padding: 40px 0;
    font-family: 'caveat', cursive;
}

img {
    height: 200px;
}

nav {
    background: linear-gradient(90deg, #00FF00, #FFFF00);
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 16px;
}

a {
    text-decoration: none;
    color: #008000;
}
h1 {
    color: #008000;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

tr:nth-child(even) {
    background-color: lightgrey;
}
